.container{
    width: 30%;
    border: 1px solid lightgrey;
    margin-top : 3%;
    padding: 2%;
    background-color: lightgrey;
    border-radius: 2%
}
.panel{
    padding-bottom: 5%;
    text-align: center;
    color: cadetblue
}
button{
    background-color: white;
}